.homeHeader {
    grid-column: 1 / -1;
    background: url(../assets/home-image-1.jpg) center;
    background-size: cover;
    height: 100vh;
    .navBar {
        display: flex;
        justify-content: space-between;
        margin: 1.5% 10%;
        position: relative;
        nav {
            display: flex;
            max-width: 40%;
            min-width: 300px;
            ul {
                display: flex;
                width: 35vw;
                justify-content: space-between;
                align-items: flex-end;
                li a {
                    letter-spacing: 1px;
                }
            }
        }
    }
    i {
        display: none; // hide the hamburger/ dropdown menu in large screen mode
    }
    .welcBanner {
        margin-top: 5%;
        display: flex;
        position: relative;
        .imgContainer {
            margin-top: 5%;
            width: 45%;
            height: 45%;
            min-width: 320px;
            max-width: 1000px;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .welcMsg {
            display: flex;
            flex-direction: column;
            position: absolute;
            padding-top: 10%;
            padding-left: 35vw;
        }
    }
}

.blogHeader {
    grid-column: 1 / -1;
    background: url(../assets/blog-image-1.jpg) center;
    background-size: cover;
    height: 60vh;
    .navBar {
        display: flex;
        justify-content: space-between;
        margin: 1.5% 10%;
        position: relative;
        nav {
            display: flex;
            max-width: 40%;
            min-width: 300px;
            ul {
                display: flex;
                width: 35vw;
                justify-content: space-between;
                align-items: flex-end;
                li a {
                    letter-spacing: 1px;
                }
            }
        }
    }
    i {
        display: none; // hide the hamburger/ dropdown menu in large screen mode
    }
}

.contactHeader {
    grid-column: 1 / -1;
    background: url(../assets/contact-image-1.jpg) center;
    background-size: cover;
    height: 60vh;
    .navBar {
        display: flex;
        justify-content: space-between;
        margin: 1.5% 10%;
        position: relative;
        nav {
            display: flex;
            max-width: 40%;
            min-width: 300px;
            ul {
                display: flex;
                width: 35vw;
                justify-content: space-between;
                align-items: flex-end;
                li a {
                    letter-spacing: 1px;
                }
            }
        }
    }
    i {
        display: none; // hide the hamburger/ dropdown menu in large screen mode
    }
}






