header {
    grid-column: 1 / -1;
    height: 75vw;
}

.homeHeader {
    background: url(../assets/home-image-1.jpg) center;
    background-size: cover;
    height: 75vh;
}

.blogHeader {
    background: url(../assets/blog-image-1.jpg) center;
    background-size: cover;
}

.contactHeader {
    background: url(../assets/contact-image-1.jpg) center;
    background-size: cover;
}
