// Assigning fonts to all site pages
$headingFont: "Playfair Display SC";
$bodyFont: "Lato";

// Assigning colours to all site pages
$primary: #50E3C2; // Greenish cyan
$secondary: #0C5F4C; // Spruce
$tertiary: #063974; // Twillight blue
$quaternary: #2C2C2C; // Black
$bgrdcolour1: #FAFFFE; // Ice blue
$bgrdcolour2: #D2F9F1; // Light light blue
$solidWhite: #FFF;


