@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Playfair+Display+SC:ital,wght@1,900&display=swap");
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html, body, div, span, h1, h2, h3, h4, h5, h6, p, ol, ul, li, textarea, form, label, legend, table, caption, menu, nav, section, summary, time, mark, audio, video, iframe, main, header, footer {
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
}

ul li {
  list-style: none;
}

a, a::after {
  text-decoration: none;
  cursor: pointer;
}

html {
  background-color: #D2F9F1;
}

button {
  outline: none;
  border: none;
  margin-top: 2.5%;
  padding: 1.5%;
}

input[type=submit] {
  outline: none;
  border: none;
}

.siteGrid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  position: relative;
  max-width: 2560px;
  margin: 0 auto;
}

.siteGridBlog {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  position: relative;
  max-width: 2560px;
  margin: 0 auto;
  grid-template-rows: 30vh 10vh 20vh;
}

.siteGridContact {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  position: relative;
  max-width: 2560px;
  margin: 0 auto;
  grid-template-rows: 30vh 10vh 20vh 40vh;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Lato", sans-serif;
  font-size: 2rem;
  color: #2C2C2C;
}

h1 {
  font-family: "Playfair Display SC", serif;
  font-style: italic;
  font-weight: 900;
  font-size: 11.12rem;
  color: #063974;
}

h2 {
  font-family: "Lato", sans-serif;
  font-weight: bold;
  font-size: 8.7rem;
  letter-spacing: 0.9rem;
  line-height: 5.8px;
  color: #FFF;
}

h3 {
  font-weight: bold;
  font-size: 6.2rem;
  letter-spacing: 0.67rem;
  line-height: 5.8rem;
  color: #0C5F4C;
  text-transform: lowercase;
  padding-left: 1%;
}

h4 {
  font-weight: bold;
  font-size: 3.5rem;
  letter-spacing: 0.38rem;
  line-height: 5.8rem;
  color: #0C5F4C;
}

.infoLast h4 {
  color: #063974;
}

h5 {
  font-weight: bold;
  font-size: 3rem;
  letter-spacing: 0.32rem;
  line-height: 5.8rem;
  color: #0C5F4C;
}

p {
  letter-spacing: 0.2rem;
  line-height: 3.2rem;
}

nav a {
  font-family: "Lato", sans-serif;
  font-weight: bold;
  font-size: 2rem;
  text-transform: uppercase;
  color: #FFF;
}
nav a:hover, nav a:focus {
  color: #50E3C2;
  outline: none;
}

ul li {
  font-family: "Lato", sans-serif;
  font-size: 2rem;
  letter-spacing: 0.2rem;
  line-height: 3.2rem;
}

.siteLogo {
  font-family: "Playfair Display SC", serif;
  font-style: italic;
  font-weight: 900;
  font-size: 3.46rem;
  color: #50E3C2;
}

label {
  display: none;
}

input[type=submit] {
  font-family: "Playfair Display SC", serif;
  font-style: italic;
  font-weight: 900;
  font-size: 2rem;
  text-align: center;
  letter-spacing: 0.1rem;
  line-height: 3.2rem;
}

::-webkit-input-placeholder {
  font-family: "Lato", sans-serif;
  font-size: 2rem;
  letter-spacing: 0.2rem;
  line-height: 3.2rem;
}

::-moz-placeholder {
  font-family: "Lato", sans-serif;
  font-size: 2rem;
  letter-spacing: 0.2rem;
  line-height: 3.2rem;
}

:-ms-input-placeholder {
  font-family: "Lato", sans-serif;
  font-size: 2rem;
  letter-spacing: 0.2rem;
  line-height: 3.2rem;
}

::-ms-input-placeholder {
  font-family: "Lato", sans-serif;
  font-size: 2rem;
  letter-spacing: 0.2rem;
  line-height: 3.2rem;
}

::placeholder {
  font-family: "Lato", sans-serif;
  font-size: 2rem;
  letter-spacing: 0.2rem;
  line-height: 3.2rem;
}

button {
  font-family: "Playfair Display SC", serif;
  font-style: italic;
  font-weight: 900;
  font-size: 2rem;
  text-align: center;
  letter-spacing: 0.1rem;
  line-height: 3.2rem;
  background-color: #063974;
  color: #FFF;
}

section h5 {
  color: #063974;
  font-size: 2rem;
}

.homeHeader {
  grid-column: 1/-1;
  background: url(../assets/home-image-1.jpg) center;
  background-size: cover;
  height: 100vh;
}
.homeHeader .navBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 1.5% 10%;
  position: relative;
}
.homeHeader .navBar nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 40%;
  min-width: 300px;
}
.homeHeader .navBar nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 35vw;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.homeHeader .navBar nav ul li a {
  letter-spacing: 1px;
}
.homeHeader i {
  display: none;
}
.homeHeader .welcBanner {
  margin-top: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}
.homeHeader .welcBanner .imgContainer {
  margin-top: 5%;
  width: 45%;
  height: 45%;
  min-width: 320px;
  max-width: 1000px;
}
.homeHeader .welcBanner .imgContainer img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.homeHeader .welcBanner .welcMsg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  padding-top: 10%;
  padding-left: 35vw;
}

.blogHeader {
  grid-column: 1/-1;
  background: url(../assets/blog-image-1.jpg) center;
  background-size: cover;
  height: 60vh;
}
.blogHeader .navBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 1.5% 10%;
  position: relative;
}
.blogHeader .navBar nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 40%;
  min-width: 300px;
}
.blogHeader .navBar nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 35vw;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.blogHeader .navBar nav ul li a {
  letter-spacing: 1px;
}
.blogHeader i {
  display: none;
}

.contactHeader {
  grid-column: 1/-1;
  background: url(../assets/contact-image-1.jpg) center;
  background-size: cover;
  height: 60vh;
}
.contactHeader .navBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 1.5% 10%;
  position: relative;
}
.contactHeader .navBar nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 40%;
  min-width: 300px;
}
.contactHeader .navBar nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 35vw;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.contactHeader .navBar nav ul li a {
  letter-spacing: 1px;
}
.contactHeader i {
  display: none;
}

.intro {
  grid-column: 1/-1;
  padding: 10%;
  background-color: #FAFFFE;
  z-index: -1;
  display: grid;
  grid-template-columns: 3fr 1fr;
}
.intro article {
  grid-column: 1/2;
  padding-right: 10%;
  align-self: center;
}
.intro .imgContainer {
  grid-column: 2/3;
  align-self: center;
  width: 100%;
}
.intro .imgContainer img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-box-shadow: -15px 15px 0px #50E3C2;
          box-shadow: -15px 15px 0px #50E3C2;
}

.galleryMini {
  grid-column: 1/-1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5% 10%;
  width: 100%;
  justify-self: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.galleryMini img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 31.5%;
}

.info {
  grid-column: 1/-1;
  padding: 5% 10%;
  background-color: #FAFFFE;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.info .infoBeach, .info .infoCommunity, .info .infoBlog, .info .infoContact {
  display: grid;
  grid-template-columns: 1fr 6fr;
}
.info .infoBeach i, .info .infoCommunity i, .info .infoBlog i, .info .infoContact i {
  height: 5.8rem;
  font-size: 3.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #50E3C2;
}
.info .infoText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.infoLast {
  grid-column: -1/1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-row: auto;
  -webkit-column-gap: 5%;
     -moz-column-gap: 5%;
          column-gap: 5%;
  row-gap: 9%;
}
.infoLast .infoText1 {
  grid-area: 1/2/2/3;
  padding-right: 20%;
  align-self: end;
}
.infoLast .infoText2 {
  grid-area: 2/1/3/2;
  padding-left: 20%;
  text-align: end;
}
.infoLast .imgContainer1 {
  margin-top: -3%;
}
.infoLast .imgContainer1 img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-box-shadow: 20px 20px 0px #50E3C2;
          box-shadow: 20px 20px 0px #50E3C2;
}
.infoLast .imgContainer2 {
  margin-bottom: -3%;
}
.infoLast .imgContainer2 img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-box-shadow: -20px 20px 0px #50E3C2;
          box-shadow: -20px 20px 0px #50E3C2;
}

.homePic {
  grid-column: 1/-1;
  z-index: -1;
  background-color: #FAFFFE;
}
.homePic img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.infoReward {
  grid-column: 1/-1;
  padding: 10%;
  background-color: #FAFFFE;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.siteGridBlog {
  background-color: #FAFFFE;
  height: 100%;
}

.blog {
  grid-area: 2/1/3/-1;
  margin-left: 10%;
}

.post {
  grid-area: 3/1/5/9;
}
.post .imgContainer {
  width: 100%;
}
.post .imgContainer img {
  width: calc(100% - 20px);
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-box-shadow: 20px 20px 0px #50E3C2;
          box-shadow: 20px 20px 0px #50E3C2;
}
.post article {
  border-right: 5px solid #50E3C2;
  border-bottom: 5px solid #50E3C2;
  padding: 10% 10% 5% 15%;
}
.post article .date {
  margin: 0;
  padding-bottom: 2.5%;
}
.post article p {
  margin-top: 2.5%;
}

.asideInfo {
  grid-area: 4/9/5/-1;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 10%;
}
.asideInfo .wrapper {
  grid-column: 2/-1;
  grid-row: 2/3;
}
.asideInfo .wrapper h4 {
  color: #063974;
}
.asideInfo .wrapper img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.asideInfo .wrapper a {
  font-family: "Lato", sans-serif;
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 0.2rem;
  line-height: 3.2rem;
  color: #0C5F4C;
}
.asideInfo .wrapper ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.asideInfo .wrapper ul li::before {
  content: "•";
  color: #50E3C2;
  padding: 0 2%;
}
.asideInfo .wrapper ul li a {
  color: #2C2C2C;
  font-weight: normal;
}

.comments {
  grid-area: 5/1/6/9;
  display: grid;
  grid-template-columns: 15% 15% 70%;
}
.comments h4 {
  grid-column: 2/-1;
  padding: 5% 0;
  font-weight: bold;
  color: #2C2C2C;
}
.comments .commentImg1 {
  grid-area: 2/2/3/3;
  padding-bottom: 10%;
}
.comments .commentImg1 img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  padding-top: 10%;
}
.comments .comment1 {
  grid-area: 2/3/3/4;
  padding: 0 10% 5% 10%;
}
.comments .commentImg2 {
  grid-area: 3/2/4/3;
}
.comments .commentImg2 img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  padding-top: 10%;
}
.comments .comment2 {
  grid-area: 3/3/4/4;
  padding: 0 10% 5% 10%;
}

.commentForm {
  grid-area: 6/1/7/9;
}
.commentForm form {
  display: grid;
  grid-template-columns: 15% 42.5% 42.5%;
  grid-template-rows: 1fr 3fr 1fr;
  row-gap: 10%;
  background-color: #FFF;
  height: 100%;
  padding: 5% 0;
}
.commentForm form input[type=text] {
  grid-area: 1/2/2/3;
  border: none;
  border-bottom: 2px solid #50E3C2;
  padding-left: 10%;
  margin-right: 3.5%;
}
.commentForm form input[type=email] {
  grid-area: 1/3/2/4;
  border: none;
  border-bottom: 2px solid #50E3C2;
  padding-left: 10%;
  margin-left: 3.5%;
}
.commentForm form textarea {
  grid-area: 2/2/4/4;
  border: 2px solid #50E3C2;
  resize: none;
  padding-left: 4%;
  padding-top: 2%;
}
.commentForm form input[type=submit] {
  grid-area: 4/2/5/4;
  background-color: #063974;
  color: #FFF;
  cursor: pointer;
}

.getInTouch {
  grid-area: 2/2/3/-1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 6.25%;
}

.contactForm {
  grid-area: 3/2/5/9;
}
.contactForm form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 3fr 1fr;
  -webkit-column-gap: 2.5%;
     -moz-column-gap: 2.5%;
          column-gap: 2.5%;
  row-gap: 10%;
  background-color: #FFF;
  max-width: 95%;
  height: 100%;
  padding: 5% 10%;
  -webkit-box-shadow: 20px 20px 0px #50E3C2;
          box-shadow: 20px 20px 0px #50E3C2;
}
.contactForm form input[type=text] {
  grid-area: 1/1/2/2;
  border: none;
  border-bottom: 2px solid #50E3C2;
  padding-left: 10%;
}
.contactForm form input[type=email] {
  grid-area: 1/2/2/3;
  border: none;
  border-bottom: 2px solid #50E3C2;
  padding-left: 10%;
}
.contactForm form textarea {
  grid-area: 2/1/3/-1;
  border: 2px solid #50E3C2;
  resize: none;
  padding-left: 4%;
  padding-top: 2%;
}
.contactForm form input[type=submit] {
  grid-area: 3/1/4/-1;
  background-color: #063974;
  color: #FFF;
  cursor: pointer;
}

.asideContact {
  grid-area: 4/1/6/-1;
  background-color: #FAFFFE;
  z-index: -1;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}
.asideContact .container {
  grid-column: 9/12;
  padding: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.asideContact .container .socialLinks a i {
  padding-right: 10%;
  font-size: 3.2rem;
  color: #2C2C2C;
}
.asideContact .container h5 {
  color: #2C2C2C;
  margin: 5% 0;
}

footer {
  grid-column: 1/-1;
  background-color: #2C2C2C;
  color: #FFF;
  text-align: center;
}