@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Playfair+Display+SC:ital,wght@1,900&display=swap");
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html, body, div, span, h1, h2, h3, h4, h5, h6, p, ol, ul, li, textarea, form, label, legend, table, caption, menu, nav, section, summary, time, mark, audio, video, iframe, main, header, footer {
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
}

ul li {
  list-style: none;
}

a, a::after {
  text-decoration: none;
  cursor: pointer;
}

html {
  background-color: #D2F9F1;
}

button {
  outline: none;
  border: none;
  margin-top: 2.5%;
  padding: 1.5%;
  cursor: pointer;
}

input[type=submit] {
  outline: none;
}

.siteGrid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  position: relative;
  max-width: 2560px;
  margin: 0 auto;
  grid-template-rows: 75vh;
}

.siteGridBlog {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  position: relative;
  max-width: 2560px;
  min-width: 320px;
  margin: 0 auto;
  grid-template-rows: 30vh 10vh 20vh;
}

.siteGridContact {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  position: relative;
  max-width: 2560px;
  margin: 0 auto;
  grid-template-rows: 30vh 10vh 20vh 40vh;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Lato", sans-serif;
  font-size: 2rem;
  color: #2C2C2C;
}

h1 {
  font-family: "Playfair Display SC", serif;
  font-style: italic;
  font-weight: 900;
  font-size: 11.12rem;
  color: #063974;
}

h2 {
  font-family: "Lato", sans-serif;
  font-weight: bold;
  font-size: 8.7rem;
  letter-spacing: 0.9rem;
  line-height: 5.8px;
  color: #FFF;
}

h3 {
  font-weight: bold;
  font-size: 6.2rem;
  letter-spacing: 0.67rem;
  line-height: 5.8rem;
  color: #0C5F4C;
  text-transform: lowercase;
  padding-left: 1%;
}

h4 {
  font-weight: bold;
  font-size: 3.5rem;
  letter-spacing: 0.38rem;
  line-height: 5.8rem;
  color: #0C5F4C;
}

.infoLast h4 {
  color: #063974;
}

h5 {
  font-weight: bold;
  font-size: 3rem;
  letter-spacing: 0.32rem;
  line-height: 5.8rem;
  color: #0C5F4C;
}

section h5 {
  color: #063974;
  font-size: 2rem;
}

article h5 {
  color: #0C5F4C;
  font-size: 3.2rem;
}

p {
  letter-spacing: 0.2rem;
  line-height: 3.2rem;
}
p.date {
  color: #063974;
  font-style: italic;
  letter-spacing: 1px;
}

nav li a {
  font-family: "Lato", sans-serif;
  font-weight: bold;
  font-size: 2rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #FFF;
}
nav li a:hover, nav li a:focus {
  color: #50E3C2;
  outline: none;
}

ul li {
  font-family: "Lato", sans-serif;
  font-size: 2rem;
  letter-spacing: 0.2rem;
  line-height: 3.2rem;
}

.siteLogo {
  font-family: "Playfair Display SC", serif;
  font-style: italic;
  font-weight: 900;
  font-size: 3.46rem;
  color: #50E3C2;
}

label {
  display: none;
}

form input[type=submit] {
  font-family: "Playfair Display SC", serif;
  font-style: italic;
  font-weight: 900;
  font-size: 2rem;
  text-align: center;
  letter-spacing: 0.1rem;
  line-height: 3.2rem;
  border: 2px solid #063974;
  background-color: #063974;
  color: #FFF;
}
form input[type=submit]:hover, form input[type=submit]:focus {
  color: #063974;
  background-color: #FFF;
  border: 2px solid #063974;
  cursor: pointer;
}

::-webkit-input-placeholder {
  font-family: "Lato", sans-serif;
  font-size: 2rem;
  letter-spacing: 0.2rem;
  line-height: 3.2rem;
}

::-moz-placeholder {
  font-family: "Lato", sans-serif;
  font-size: 2rem;
  letter-spacing: 0.2rem;
  line-height: 3.2rem;
}

:-ms-input-placeholder {
  font-family: "Lato", sans-serif;
  font-size: 2rem;
  letter-spacing: 0.2rem;
  line-height: 3.2rem;
}

::-ms-input-placeholder {
  font-family: "Lato", sans-serif;
  font-size: 2rem;
  letter-spacing: 0.2rem;
  line-height: 3.2rem;
}

::placeholder {
  font-family: "Lato", sans-serif;
  font-size: 2rem;
  letter-spacing: 0.2rem;
  line-height: 3.2rem;
}

button {
  font-family: "Playfair Display SC", serif;
  font-style: italic;
  font-weight: 900;
  font-size: 2rem;
  text-align: center;
  letter-spacing: 0.1rem;
  line-height: 3.2rem;
  background-color: #063974;
  color: #FFF;
  border: 2px solid #063974;
}
button:hover, button:focus {
  color: #063974;
  background-color: #FFF;
  border: 2px solid #063974;
}

a, a::after {
  font-size: 3.2rem;
  color: #2C2C2C;
}

nav ul li:hover {
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.container .socialLinks li:hover {
  -webkit-animation: bouncy 0.75s infinite;
          animation: bouncy 0.75s infinite;
}

@-webkit-keyframes bouncy {
  0%, 50%, 100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  25% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
}

@keyframes bouncy {
  0%, 50%, 100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  25% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
}
header {
  z-index: 1;
  grid-column: 1/-1;
  height: 75vh;
}

.homeHeader {
  background: url(../assets/home-image-1.jpg) center;
  background-size: cover;
}

.blogHeader {
  background: url(../assets/blog-image-1.jpg) center;
  background-size: cover;
}

.contactHeader {
  background: url(../assets/contact-image-1.jpg) center;
  background-size: cover;
}

.navBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 1.5% 10%;
  position: relative;
}
.navBar nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 40%;
  min-width: 300px;
}
.navBar nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 35vw;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.navBar nav .mobileMenuToggle {
  display: none;
}

.welcBanner {
  grid-column: 1/-1;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  background-color: #FAFFFE;
  z-index: 100;
}
.welcBanner .imgContainer {
  grid-column: 1/5;
  height: 100%;
  max-width: 1000px;
  margin: -80% 0;
}
.welcBanner .imgContainer img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.welcBanner .welcMsg {
  grid-column: 5/-1;
  margin: -20% 0 0 -10%;
}

.intro {
  grid-column: 1/-1;
  padding: 10%;
  background-color: #FAFFFE;
  display: grid;
  grid-template-columns: 3fr 1fr;
}
.intro article {
  grid-column: 1/2;
  padding-right: 10%;
  align-self: center;
}
.intro .imgContainer {
  grid-column: 2/3;
  align-self: center;
  width: 100%;
}
.intro .imgContainer img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-box-shadow: -15px 15px 0px #50E3C2;
          box-shadow: -15px 15px 0px #50E3C2;
}

.galleryMini {
  grid-column: 1/-1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5% 10%;
  width: 100%;
  justify-self: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.galleryMini img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 31.5%;
}

.info {
  grid-column: 1/-1;
  padding: 5% 10%;
  background-color: #FAFFFE;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.info .infoBeach, .info .infoCommunity, .info .infoBlog, .info .infoContact {
  display: grid;
  grid-template-columns: 1fr 6fr;
}
.info .infoBeach .iconWrapper, .info .infoCommunity .iconWrapper, .info .infoBlog .iconWrapper, .info .infoContact .iconWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-right: 1vw;
}
.info .infoBeach .iconWrapper i, .info .infoCommunity .iconWrapper i, .info .infoBlog .iconWrapper i, .info .infoContact .iconWrapper i {
  height: 5.8rem;
  width: 5.8rem;
  font-size: 3.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #FFF;
  background-color: #50E3C2;
  border: 1px solid #50E3C2;
  border-radius: 50%;
}
.info .infoText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.infoLast {
  grid-column: -1/1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-row: auto;
  -webkit-column-gap: 5%;
     -moz-column-gap: 5%;
          column-gap: 5%;
  row-gap: 9%;
}
.infoLast .infoText1 {
  grid-area: 1/2/2/3;
  padding-right: 20%;
  align-self: end;
}
.infoLast .infoText2 {
  grid-area: 2/1/3/2;
  padding-left: 20%;
  text-align: end;
}
.infoLast .imgContainer1 {
  margin-top: -3%;
}
.infoLast .imgContainer1 img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-box-shadow: 20px 20px 0px #50E3C2;
          box-shadow: 20px 20px 0px #50E3C2;
}
.infoLast .imgContainer2 {
  margin-bottom: -3%;
}
.infoLast .imgContainer2 img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-box-shadow: -20px 20px 0px #50E3C2;
          box-shadow: -20px 20px 0px #50E3C2;
}

.homePic {
  grid-column: 1/-1;
  z-index: -1;
  background-color: #FAFFFE;
}
.homePic img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.infoReward {
  grid-column: 1/-1;
  padding: 10%;
  background-color: #FAFFFE;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.siteGridBlog {
  background-color: #FAFFFE;
  height: 100%;
}

.blog {
  grid-area: 2/1/3/-1;
  margin-left: 10%;
}

.post {
  z-index: 1;
  grid-area: 3/1/5/9;
}
.post .imgContainer {
  width: 100%;
}
.post .imgContainer img {
  width: calc(100% - 20px);
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-box-shadow: 20px 20px 0px #50E3C2;
          box-shadow: 20px 20px 0px #50E3C2;
  z-index: 1;
}
.post article {
  border-right: 5px solid #50E3C2;
  border-bottom: 5px solid #50E3C2;
  padding: 10% 10% 5% 15%;
}
.post article .date {
  margin: 0;
  padding-bottom: 2.5%;
}
.post article p {
  margin-top: 2.5%;
}

.asideInfo {
  z-index: 1;
  grid-area: 4/9/5/-1;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 10%;
}
.asideInfo .wrapper {
  grid-column: 2/-1;
  grid-row: 2/3;
}
.asideInfo .wrapper h4 {
  color: #063974;
}
.asideInfo .wrapper img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.asideInfo .wrapper a {
  font-family: "Lato", sans-serif;
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 0.2rem;
  line-height: 3.2rem;
  color: #0C5F4C;
}
.asideInfo .wrapper ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.asideInfo .wrapper ul li::before {
  content: "•";
  color: #50E3C2;
  padding: 0 2%;
}
.asideInfo .wrapper ul li a {
  color: #2C2C2C;
  font-weight: normal;
}

.comments {
  grid-area: 5/1/6/9;
  display: grid;
  grid-template-columns: 15% 15% 70%;
  background-color: #FAFFFE;
}
.comments h4 {
  grid-column: 2/-1;
  padding: 5% 0;
  font-weight: bold;
  color: #2C2C2C;
}
.comments .commentImg1 {
  grid-area: 2/2/3/3;
  padding-bottom: 10%;
}
.comments .commentImg1 img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  padding-top: 10%;
}
.comments .comment1 {
  grid-area: 2/3/3/4;
  padding: 0 10% 5% 10%;
}
.comments .commentImg2 {
  grid-area: 3/2/4/3;
}
.comments .commentImg2 img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  padding-top: 10%;
}
.comments .comment2 {
  grid-area: 3/3/4/4;
  padding: 0 10% 5% 10%;
}

.commentForm {
  grid-area: 6/1/7/9;
}
.commentForm form {
  display: grid;
  grid-template-columns: 15% 42.5% 42.5%;
  grid-template-rows: 1fr 3fr 1fr;
  row-gap: 10%;
  background-color: #FFF;
  height: 100%;
  padding: 5% 0;
}
.commentForm form input[type=text] {
  grid-area: 1/2/2/3;
  border: none;
  border-bottom: 2px solid #50E3C2;
  padding-left: 10%;
  margin-right: 3.5%;
}
.commentForm form input[type=email] {
  grid-area: 1/3/2/4;
  border: none;
  border-bottom: 2px solid #50E3C2;
  padding-left: 10%;
  margin-left: 3.5%;
}
.commentForm form textarea {
  grid-area: 2/2/4/4;
  border: 2px solid #50E3C2;
  resize: none;
  padding-left: 4%;
  padding-top: 2%;
}
.commentForm form input[type=submit] {
  grid-area: 4/2/5/4;
}

.getInTouch {
  grid-area: 2/2/3/-1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 6.25%;
}

.contactForm {
  grid-area: 3/2/5/9;
  z-index: 10;
}
.contactForm form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 3fr 1fr;
  -webkit-column-gap: 2.5%;
     -moz-column-gap: 2.5%;
          column-gap: 2.5%;
  row-gap: 10%;
  background-color: #FFF;
  max-width: 95%;
  height: 90%;
  padding: 5% 10%;
  -webkit-box-shadow: 20px 20px 0px #50E3C2;
          box-shadow: 20px 20px 0px #50E3C2;
}
.contactForm form input[type=text] {
  grid-area: 1/1/2/2;
  border: none;
  border-bottom: 2px solid #50E3C2;
  padding-left: 10%;
}
.contactForm form input[type=email] {
  grid-area: 1/2/2/3;
  border: none;
  border-bottom: 2px solid #50E3C2;
  padding-left: 10%;
}
.contactForm form textarea {
  grid-area: 2/1/3/-1;
  border: 2px solid #50E3C2;
  resize: none;
  padding-left: 4%;
  padding-top: 2%;
}
.contactForm form input[type=submit] {
  grid-area: 3/1/4/-1;
  background-color: #063974;
  color: #FFF;
  cursor: pointer;
}
.contactForm form input[type=submit]:hover, .contactForm form input[type=submit]:focus {
  color: #063974;
  background-color: #FFF;
  border: 2px solid #063974;
}

.asideContact {
  grid-area: 4/1/6/-1;
  background-color: #FAFFFE;
  z-index: 0;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}
.asideContact .container {
  grid-column: 9/12;
  padding: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.asideContact .container .socialLinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.asideContact .container .socialLinks ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.asideContact .container h5 {
  color: #2C2C2C;
  margin: 5% 0;
}

footer {
  grid-column: 1/-1;
  background-color: #2C2C2C;
  color: #FFF;
  text-align: center;
}

@media (max-width: 1080px) {
  .navBar nav {
    z-index: 9999;
    position: relative;
    width: 25vw;
    height: 200px;
    background-color: rgba(201, 249, 241, 0.5);
    border-radius: 10px;
  }
  .navBar nav ul {
    z-index: 9999;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    height: 100%;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding-left: 3vw;
  }
  .navBar nav .mobileMenuToggle {
    display: block;
    position: absolute;
    top: 2rem;
    right: 2rem;
    height: 5rem;
    width: 5rem;
  }
  .navBar nav .mobileMenuToggle i {
    display: block;
    color: #50E3C2;
    cursor: pointer;
  }

  body {
    font-size: 2vw;
  }

  h1 {
    font-size: 9vw;
  }

  h2 {
    font-size: 8.25vw;
    letter-spacing: 0.75vw;
  }

  h3 {
    font-size: 5vw;
  }

  h4 {
    font-size: 3vw;
  }

  h5 {
    font-size: 3vw;
  }

  a h5 {
    font-size: 3vw;
  }

  article h5 {
    font-size: 3vw;
  }

  .siteLogo {
    font-size: 3.15vw;
  }

  ::-webkit-input-placeholder {
    font-size: 1.85vw;
  }

  ::-moz-placeholder {
    font-size: 1.85vw;
  }

  :-ms-input-placeholder {
    font-size: 1.85vw;
  }

  ::-ms-input-placeholder {
    font-size: 1.85vw;
  }

  ::placeholder {
    font-size: 1.85vw;
  }

  form input[type=submit] {
    font-size: 2vw;
    line-height: 2vw;
  }

  a, a::after {
    font-size: 3.5vw;
  }

  ul li {
    font-size: 2vw;
  }

  p {
    line-height: 3vw;
  }

  button {
    font-size: 2vw;
    line-height: 1vw;
  }

  .siteGrid {
    height: 100%;
  }

  .welcBanner .imgContainer {
    visibility: hidden;
  }
  .welcBanner .welcMsg {
    grid-area: 1/1/2/-1;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: url(../assets/header-box.jpg) center;
    width: 50vw;
    height: 40vw;
    -webkit-box-shadow: 10px 10px 0 #50E3C2;
            box-shadow: 10px 10px 0 #50E3C2;
    margin: -40% 0;
    padding: 10vw 0 0 10vw;
    min-width: 300px;
  }

  .intro {
    grid-template-columns: 1fr;
  }
  .intro article {
    grid-area: 1/1/2/-1;
    text-align: center;
    margin-bottom: 2.5vw;
  }
  .intro .imgContainer {
    grid-area: 2/1/3/-1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .intro .imgContainer img {
    width: 40vw;
  }

  .galleryMini {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .galleryMini img {
    width: 40vw;
    padding-bottom: 2vw;
  }

  .info {
    grid-template-columns: 1fr;
  }
  .info .infoBeach, .info .infoCommunity, .info .infoBlog, .info .infoContact {
    grid-column: 1/-1;
  }
  .info .infoBeach .iconWrapper, .info .infoCommunity .iconWrapper, .info .infoBlog .iconWrapper, .info .infoContact .iconWrapper {
    padding-top: 2vw;
  }
  .info .infoBeach .iconWrapper i, .info .infoCommunity .iconWrapper i, .info .infoBlog .iconWrapper i, .info .infoContact .iconWrapper i {
    font-size: 3.5vw;
    height: 7vw;
    width: 7vw;
  }

  .infoLast {
    grid-template-columns: 1fr;
    gap: 0;
  }
  .infoLast .infoText1, .infoLast .imgContainer1, .infoLast .infoText2, .infoLast .imgContainer2 {
    grid-column: 1/-1;
    text-align: center;
    padding: 0;
    margin: 0;
  }
  .infoLast .infoText1 img, .infoLast .imgContainer1 img, .infoLast .infoText2 img, .infoLast .imgContainer2 img {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .infoLast .infoText1, .infoLast .infoText2 {
    padding: 5% 10%;
  }

  .siteGridBlog {
    grid-template-rows: 20vw 5vw 40vw;
    height: auto;
  }

  .post {
    grid-area: 3/1/5/12;
  }
  .post article {
    background-color: #FAFFFE;
  }

  .comments {
    grid-area: 5/1/6/12;
    background-color: #FAFFFE;
  }
  .comments h4 {
    padding: 1vw 0;
  }
  .comments div h5 {
    font-size: 2vw;
    line-height: 2.5vw;
  }

  .commentForm {
    grid-area: 6/1/7/12;
  }
  .commentForm form {
    grid-template-columns: 50% 50%;
    padding: 0 10%;
  }
  .commentForm form input[type=text] {
    grid-area: 1/1/2/2;
  }
  .commentForm form input[type=email] {
    grid-area: 1/2/2/3;
  }
  .commentForm form textarea {
    grid-area: 2/1/4/3;
  }
  .commentForm form input[type=submit] {
    grid-area: 4/1/5/3;
  }

  .asideInfo {
    grid-area: 7/1/8/12;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: #FAFFFE;
    margin-top: 5%;
  }
  .asideInfo .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .asideInfo .wrapper img {
    width: 50vw;
  }
  .asideInfo .wrapper a {
    font-size: 3vw;
  }
  .asideInfo .wrapper ul li a {
    font-size: 2vw;
  }

  .siteGridContact {
    grid-template-rows: 20vw 5vw 40vw;
    background-color: #FAFFFE;
  }

  .getInTouch {
    grid-area: 2/1/3/-1;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0;
  }

  .contactForm {
    grid-area: 3/2/5/12;
    height: 65vw;
    padding: 0 5%;
  }
  .contactForm form {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 3fr 1fr;
    row-gap: 2vw;
  }
  .contactForm form input[type=text] {
    grid-area: 1/1/2/-1;
    height: 8.5vw;
    width: 56.5vw;
  }
  .contactForm form input[type=email] {
    grid-area: 2/1/3/-1;
    height: 8.5vw;
    width: 56.5vw;
  }
  .contactForm form textarea {
    grid-area: 3/1/4/-1;
    width: 56.5vw;
  }
  .contactForm form input[type=submit] {
    grid-area: 4/1/5/-1;
    height: 8.5vw;
  }

  .asideContact {
    grid-area: 4/1/5/-1;
    padding: 10vw 0;
  }
  .asideContact .container {
    grid-column: 1/-1;
  }
  .asideContact .container ul {
    width: 65vw;
  }
}
@media (max-width: 480px) {
  h5 {
    font-size: 12px;
  }

  .siteLogo {
    font-size: 12px;
  }

  ::-webkit-input-placeholder {
    font-size: 9px;
  }

  ::-moz-placeholder {
    font-size: 9px;
  }

  :-ms-input-placeholder {
    font-size: 9px;
  }

  ::-ms-input-placeholder {
    font-size: 9px;
  }

  ::placeholder {
    font-size: 9px;
  }

  a, a::after {
    font-size: 15px;
  }

  ul li {
    font-size: 9px;
  }

  .navBar nav li a {
    font-size: 14px;
  }
}